@media (max-width: 414px;, max-height: 896px;) {
    body {
      background-color: white;
    }
    }
    
    header {
      font-weight: bold;
      font-size: 20px;
      border-bottom: 2px solid black;
    }
    
    p {
      font-family: verdana;
      font-size: 13px;
    }
    
    #navbar {
      color: white;
      background-color: black;
      border-radius: 5px;
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    
    .nav-link {
      display: block;
      color: white;
      border-bottom: 1px solid;
      padding: 5px;
    }
    
    .nav-link:hover{
      color: blue;
    }
    